.info {
  background-color: $color-white;
  border-bottom: solid $color-boticelli 2px;
  border-top: solid $color-boticelli 1px;
  display: flex;
  flex-direction: column;
  padding: 0 $size-base-5_4 $size-base-35_8;
  margin-top: $size-base-13_16;

  &__a {
    color: $color-mako;
    line-height: $size-base-5_2;
    text-decoration: none;
    vertical-align: middle;
  }

  &__h3 {
    color: $color-raven;
    font-size: $size-base-5_4;
  }

  &__h4 {
    color: $color-mako;
    font-size: $size-base;
    padding: 0 0 $size-base-5_4;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--form {
      justify-content: flex-end;

      h3 {
        flex: auto;
      }
    }
  }

  &__icon {
    color: $color-cadet-blue;
    font-size: $size-base-11_8;
    padding-right: $size-base-1_2;
    vertical-align: middle;
  }

  &__pencil {
    background-color: $third-color;
    padding: $size-base-1_2;
  }

  &--hidden {
    display: none;
  }

  .form__button {
    color: $primary-color;
    font-size: $size-base-3_4;
    font-weight: bold;
    text-transform: uppercase;
    padding: $size-base-5_8;
  }
}
