.nav {
  background-color: $color-white;
  box-shadow: 0 0 2px 2px $color-porcelain;
  padding: 0 $size-base-5_4;

  &__a {
    color: $color-black;
    display: block;
    line-height: $size-base-25_8;
    text-decoration: none;
  }

  &__li {
    display: inline-block;
    padding: 0 $size-base-3_4;
    text-transform: uppercase;

    &:first-child {
      padding-left: 0;
    }

    &--active > a {
      border-bottom: solid $primary-color 2px;
    }
  }

  &__ul {
    overflow-x: auto;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (min-width: 768px) {
    border-top: solid $color-porcelain 1px;
    padding-left: $size-base-25_2;
  }
}
