.profile {
  display: flex;
  flex-direction: column;
  padding: $size-base-5_4;

  & > span:last-child {
    margin-top: $size-base-3_4;
  }

  &__a {
    color: $secondary-color-8t;
    font-size: $size-base-3_4;
    line-height: $size-base-7_4;
    text-decoration: none;
  }

  &__button {
    color: $primary-color;
    font-size: $size-base-3_4;
    font-weight: bold;
    align-self: flex-end;
    text-transform: uppercase;
    padding: $size-base-5_8;

    &--hidden {
      display: none;
    }
  }

  &__h2 {
    font: {
      size: $size-base-5_4;
      weight: 600;
    }
    align-self: center;
  }

  &__icon {
    color: $color-cadet-blue;
    font-size: $size-base-11_8;
    vertical-align: middle;

    &--star {
      color: $primary-color;
      font-size: $size-base-3_2;
    }

    &--circle {
      color: $fourth-color;
      font-size: $size-base-7_4;
    }
  }

  &__img {
    $size: $size-base-8;

    align-self: center;
    height: $size;
    margin-top: $size-base-5_2;
    object: {
      fit: none;
      position: top;
    }
    width: $size;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__span {
    color: $secondary-color-8t;
    font-size: $size-base-13_16;
    vertical-align: middle;

    &--number {
      font: {
        size: $size-base-7_8;
        weight: 600;
      }
      padding-left: $size-base-5_16;
    }

    &--spaced {
      line-height: $size-base-7_4;
      padding-left: $size-base-5_8;
    }
  }

  @media (min-width: 768px) {
    background-color: $color-white;
    position: relative;

    &__button {
      border: 1px solid $primary-color;
      border-radius: 2px;
      padding: $size-base-5_8 $size-base-5_4;

      &--grayed {
        border-color: $fourth-color;
        color: $fourth-color;
        align-self: center;
      }
    }

    &__icon--star {
      color: $secondary-color-8t;
    }

    &__img {
      align-self: unset;
      height: $size-base-75-8;
      position: absolute;
      bottom: $size-base-2 * -1;
      width: $size-base-75-8;
    }

    &__h2 {
      align-self: unset;
    }

    &__section {
      padding-left: $size-base-45_4;

      & > span:nth-child(4),
      & > span:nth-child(5),
      & > span:last-child {
        align-self: flex-end;
      }
    }
  }
}
