<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <section class="profile">
      <button class="profile__button">Log out</button>
      <button id="upload_cover_image" class="profile__button profile__button--hidden">
        <ion-icon name="camera"></ion-icon>
        <span>Upload Cover Image</span>
      </button>
      <img class="profile__img" src="./imgs/profile_image.jpg" alt="Jessica Parker" />
      <section class="profile__section">
        <h2 id="profile__name" class="profile__h2"></h2>
        <span>
          <ion-icon class="profile__icon" name="call-outline"></ion-icon>
          <a id="profile__phonenumber" class="profile__a" href="tel:+01-949-325-68594"></a>
        </span>
        <span>
          <ion-icon class="profile__icon" name="location-outline"></ion-icon>
          <a id="profile__citystatezip" class="profile__a" href="#"></a>
        </span>
        <span>
          <ion-icon class="profile__icon profile__icon--star" name="star"></ion-icon>
          <ion-icon class="profile__icon profile__icon--star" name="star"></ion-icon>
          <ion-icon class="profile__icon profile__icon--star" name="star"></ion-icon>
          <ion-icon class="profile__icon profile__icon--star" name="star"></ion-icon>
          <ion-icon class="profile__icon profile__icon--star" name="star-outline"></ion-icon>
        </span>
        <span>
          <span class="profile__span profile__span--number">6</span>
          <span class="profile__span profile__span--spaced">Reviews</span>
        </span>
        <span>
          <ion-icon class="profile__icon profile__icon--circle" name="add-circle"></ion-icon>
          <span class="profile__span profile__span--number">15</span>
          <span class="profile__span">Followers</span>
        </span>
      </section>
    </section>
    <nav class="nav">
      <ul class="nav__ul">
        <li class="nav__li nav__li--active">
          <a href="#" class="nav__a">about</a>
        </li>
        <li class="nav__li">
          <a href="#" class="nav__a">settings</a>
        </li>
        <li class="nav__li">
          <a href="#" class="nav__a">option1</a>
        </li>
        <li class="nav__li">
          <a href="#" class="nav__a">option2</a>
        </li>
      </ul>
    </nav>
    <section class="info">
      <header class="info__header">
        <h3>About</h3>
        <button id="edit">
          <ion-icon class="info__pencil" name="pencil-sharp"></ion-icon>
        </button>
      </header>
      <h4 id="info__name"></h4>
      <span>
        <ion-icon class="info__icon" name="earth"></ion-icon>
        <a id="info__website" class="info__a" href="//www.seller.com"></a>
      </span>
      <span>
        <ion-icon class="info__icon" name="call-outline"></ion-icon>
        <a id="info__phonenumber" class="info__a" href="tel:+01-949-325-68594"></a>
      </span>
      <span>
        <ion-icon class="info__icon" name="home-outline"></ion-icon>
        <a id="info__citystatezip" class="info__a" href="#"></a>
      </span>
    </section>
  </body>
</html>
