@import 'scss';
@import 'profile';
@import 'nav';
@import 'info';

body {
  background-color: $third-color;
  color: $secondary-color;
  font-family: $primary-font;
  padding-bottom: $size-base-2;

  // Only for development
  //@include xray;
}

button {
  @include reset-button;
}
