// Colors - Names from: http://chir.ag/projects/name-that-color
// A
$color-athens-gray: rgb(245, 247, 249);  // #f5f7f9
$color-azure-radiance: rgb(0, 125, 229); // #007de5
// B
$color-black: rgb(0, 0, 0); // #000
$color-boticelli: rgb(207, 209, 231); // #cfdbe7
// C
$color-cadet-blue: rgb(167, 183, 195); // #a7b7c3
// H
$color-hit-gray: rgb(166, 176, 183); // #a6b0b7
// M
$color-mako: rgb(63, 69, 73); // #3f4549
$color-mine-shatf: rgb(51, 51, 51); // #333
// P
$color-porcelain: rgb(225, 229, 232); // #e1e5e8
// R
$color-raven: rgb(114, 125, 136); // #727d88
// W
$color-white: rgb(255, 255, 255); // #fff
