// General
// As seen in: https://doginthehat.com.au/2016/12/sass-mixin-to-debug-your-css-layout/
@mixin xray {
  outline:1px solid black !important;
  > * {
    outline:1px solid red !important;
    > * {
      outline:1px solid green !important;
      > * {
        outline:1px solid pink !important;
        > * {
          outline:1px solid orange !important;
        }
      }
    }
  }
}

// Button
@mixin reset-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

// List
