// Palette
$primary-color: $color-azure-radiance;
$secondary-color: $color-mine-shatf;
$secondary-color-8t: rgba($color-mine-shatf, .8);
$third-color: $color-athens-gray;
$fourth-color: $color-hit-gray;

// Font
$primary-font: $font-open-sans;

// Size
$size-base: 16px;
// Different sizes
$size-base-5_16: $size-base * 5/16;   // 8px
$size-base-1_2: $size-base * 1/2;     // 8px
$size-base-5_8: $size-base * 5/8;     // 10px
$size-base-3_4: $size-base * 3/4;     // 12px
$size-base-13_16: $size-base * 13/16; // 13px
$size-base-7_8: $size-base * 7/8;     // 14px
$size-base-5_4: $size-base * 5/4;     // 20px
$size-base-11_8: $size-base * 11/8;   // 22px
$size-base-3_2: $size-base * 3/2;     // 24px
$size-base-7_4: $size-base * 7/4;     // 28px
$size-base-2: $size-base * 2;         // 32px
$size-base-5_2: $size-base * 5/2;     // 40px
$size-base-25_8: $size-base * 25/8;   // 50px
$size-base-35_8: $size-base * 35/8;   // 66px
$size-base-8: $size-base * 8;         // 128px
$size-base-75-8: $size-base * 75/8;   // 150px
$size-base-45_4: $size-base * 45/4;   // 180px
$size-base-25_2: $size-base * 25/2;   // 200px
